body{
  background: linear-gradient(135deg, #581845 0%,#900c3f 100%);
}
#container{
  height: auto;
  width: 400px;
  text-align: center;
  color:  #ffffff;
  font-family: 'Lato', sans-serif;
  line-height: 10px;

}
#logo{
  height: 120px;
  width: 120px;
}
#devBy{
  font-size: 1.7em;
  text-align: center;;
  font-family: 'Indie Flower', cursive;
}
#heart{
  color: red;
  font-size: 1.5em;
}
.social-media a{
  font-size: 3em;
  color: white;
  margin: 7px;
}
#save{
  background-color: #FF8633;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.save:hover{
  background-color: #F89754;
}
#selection{
  background-color: white;
  border: block;
  border-color: F7802F;
  border-radius: 4px;
  border-width: 2px;
  color: black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.social-media a:hover{
  color: #FF8633;
}
#flagsel{
  width: 46px;
  height: 30px;
}
h1{
  font-size: 3em;
}
