*{
    padding: 0.08em;
}
body{
    background: linear-gradient(135deg, #581845 0%,#900c3f 100%);
}
h1{
    font-size: 2.8em;
    line-height: 0.12em;
}
h2{
    font-size: 1.8em;
}

#container{
    height: 48em;
    width: 35em;
    text-align: center;
    color:  #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 0.2em;
}

#logo{
  height: 10em;
  width: 10em;
}

.instruction-line{
    font-size: 1.2em;
    line-height: 1.5em;
}

#flagsel{
  width: 3.5em;
  height: 2.3em;
}

#selection{
  background-color: white;
  border: block;
  border-color: #F7802F;
  border-radius: 0.5em;
  border-width: 0.1em;
  color: black;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0.5em;
  cursor: pointer;
  outline: 0;
}

#save{
  position: relative;
  background-color: #FF8633;
  border: none;
  color: white;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 0.2em;
  outline: 0;
  box-shadow: 0px 4px 0px #888888;
}
#save:active{
    top: 2px;
    box-shadow: 0px 2px 0px #888888;
}
#save:hover{
  background-color: #F89754;
}

#settings-saved{
    color: white;
    font-size: 1.3em;
    visibility: hidden;
    margin: 1.5em;
}

#devBy{
  font-size: 1.7em;
  text-align: center;;
  font-family: 'Indie Flower', cursive;
}
#opensource{
  font-size: 1.5em;
  text-align: center;;
  font-family: 'Indie Flower', cursive;
}
#opensource a{
    font-size: 1.2em;
    color: inherit;
}
#opensource a:hover{
  color: #FF8633;
}
#heart{
  color: red;
  font-size: 1.5em;
}

.social-media a{
  font-size: 3em;
  color: white;
  margin: 0.25em;
}

.social-media a:hover{
  color: #FF8633;
}
